import { lazy, Suspense } from "react";
import { Spinner } from "@/ui/spinner";
import "./{{ID}}.css";

const {{COMPONENT}}View = lazy(() =>
  import("./{{COMPONENT}}View").then((m) => ({ default: m.{{COMPONENT}}View })),
);

export function {{COMPONENT}}App() {
  return (
    <Suspense
      fallback={
        <div className="{{ID}}-placeholder">
          <Spinner size="md" />
        </div>
      }
    >
      <{{COMPONENT}}View />
    </Suspense>
  );
}

export default {{COMPONENT}}App;
